
<div class=" sidebar  sidebar-dark  " >
    <ul class="navbar-nav  accordion" id="accordionSidebar" >

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
          <a class="nav-link" href="index.html">
              <i class="fa fa-tachometer"></i>
              <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
          FRONTEND
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      
      <li class="nav-item" >
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="technicien">
            <i class="fa fa-eye"></i>
            <span>Technicien</span></a>
    </li>

    <li class="nav-item" >
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="equipement">
            <i class="fa fa-eye"></i>
            <span>equipement</span></a>
    </li>
     <li class="nav-item" >
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="panne">
            <i class="fa fa-eye"></i>
            <span>panne</span></a>
    </li>
     <li class="nav-item" >
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="intervention">
            <i class="fa fa-eye"></i>
            <span>intervention</span></a>
    </li>

      
    </ul>
</div>